/* About Us */
#main {
  padding: 2rem 0;
}

@media (min-width: 768px) {
  #main .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  #main-col {
    width: 70%;
    margin-right: 5rem;
  }

  #sidebar {
    width: 30%;
    padding: 2rem 1rem;
  }
}

#main h1 {
  font-size: 2.5rem;
}

#main h3 {
  font-size: 2rem;
}

#main p {
  margin-bottom: 2rem;
}

.dark {
  color: var(--color-light-gray);
  background: var(--color-dark-gray);
}
